<%= form_for(@filter, url: admin_filters_path(@filter), html: {class: "form-horizontal", role:"form"}) do |f| %>
  <section class="panel">
    <header class="panel-heading">
      <h2 class="panel-title">New Filter</h2>
    </header>
    <div class="panel-body">
      <div class="col-md-offset-2 col-md-8">
        <div class="form-group">
          <label class="col-sm-3 control-label">FID</label>
          <div class="col-sm-9">
            <%= f.text_field :fid, class: 'form-control', required:'true', placeholder:'' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Type</label>
          <div class="col-sm-9">
            <%= f.select(:filter_type,  options_for_select([['TransparentFilter', 'TransparentFilter'], ['ConnectorFilter', 'ConnectorFilter'], ['UserFilter', 'UserFilter'], ['GroupFilter', 'GroupFilter'], ['SourceAddrFilter', 'SourceAddrFilter'], ['DestinationAddrFilter', 'DestinationAddrFilter'], ['ShortMessageFilter', 'ShortMessageFilter'], ['DateIntervalFilter', 'DateIntervalFilter'], ['TimeIntervalFilter', 'TimeIntervalFilter'], ['TagFilter', 'TagFilter'], ['EvalPyFilter', 'EvalPyFilter']], 'TransparentFilter'))%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Parameter</label>
          <div class="col-sm-9">
            <%= f.text_field :parameter, class: 'form-control', placeholder:'' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-9">
            <%= f.submit 'Add', class: 'btn btn-primary' %>
            <%= link_to 'Back',  admin_filters_path , class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
