<%= form_for(@router, url: admin_router_path(@router), html: {class: "form-horizontal", role:"form"}) do |f| %>
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title">Edit Router</h2>
      </header>
      <div class="panel-body">
        <div class="col-md-offset-2 col-md-8">
          <div class="form-group">
            <label class="col-sm-3 control-label">Order</label>
            <div class="col-sm-9">
              <%= f.text_field :router_order, class: 'form-control', required:'true', placeholder:'' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Type</label>
            <div class="col-sm-9">
              <%= f.select(:router_type,  options_for_select([['DefaultRoute', 'DefaultRoute'], ['StaticMTRoute', 'StaticMTRoute'], ['RandomRoundrobinMTRoute', 'RandomRoundrobinMTRoute'], ['FailoverMTRoute', 'FailoverMTRoute']], @router.router_type))%>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Rate</label>
            <div class="col-sm-9">
              <%= f.text_field :rate, class: 'form-control', required:'true', placeholder:'' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Connector</label>
            <div class="col-sm-9">
              <%= f.text_field :connector, class: 'form-control', required:'true', placeholder:'' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Filter</label>
            <div class="col-sm-9">
              <%= f.text_field :filter, class: 'form-control', placeholder:'' %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-9">
              <%= f.submit 'Update', class: 'btn btn-primary' %>
              <%= link_to 'Back',  admin_routers_path, class: 'btn btn-default' %>
            </div>
          </div>
        </div>
      </div>
    </section>
<% end %>
