<!-- start: page -->
<section class="panel">
  <header class="panel-heading">
    <div class="pull-right">
      <%= link_to 'New Router', new_admin_router_path%>
    </div>
    <h2 class="panel-title">Router List</h2>

  </header>
  <div class="panel-body">
    <table class="table table-bordered table-striped mb-none" id="router-datatable-editable">
      <thead>
      <tr>
        <th>Number</th>
        <th>Order</th>
        <th>Type</th>
        <th>Rate</th>
        <th>SMPP Connector</th>
        <th>Filter</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @routers.each_with_index do |router,index| %>
          <tr class="gradeX">
            <td><%= index +1 %></td>
            <td><%= router.router_order %></td>
            <td><%= router.router_type %></td>
            <td><%= router.rate %></td>
            <td><%= router.connector %></td>
            <td><%= router.filter %></td>
            <td class="actions">
              <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, admin_router_path(router), method: :delete,
                          data: {confirm: "Are you sure you want to delete the group?"},
                          class: "on-default" %>
              <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
              <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
<!-- end: page -->