<!-- start: page -->
<!-- Modal Form -->
<div id="modalForm" class="modal-block modal-block-primary mfp-hide">
  <section class="panel">
    <%= form_for(@dcontact, html: {class: "form-horizontal", role:"form", multipart: true}) do |f| %>
      <header class="panel-heading">
        <h2 class="panel-title">List Number Import</h2>
      </header>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">Numbers</label>
          <div class="col-sm-9">
            <textarea name="numbers" rows="5" class="form-control" placeholder="Type your comment..."></textarea>
            <input type="hidden" value="<%= @distribution.id %>" name="distribution_id"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">File Upload</label>
          <div class="col-md-9">
            <input type="file" name="file"/>
            <!--<div class="fileupload fileupload-new" data-provides="fileupload">
              <div class="input-append">
                <div class="uneditable-input">
                  <i class="fa fa-file fileupload-exists"></i>
                  <span class="fileupload-preview"></span>
                </div>
                <span class="btn btn-default btn-file">
																<span class="fileupload-exists">Change</span>
																<span class="fileupload-new">Select file</span>
																<input type="file" />
															</span>
                <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
              </div>
            </div>-->
          </div>
        </div>
      </div>
      <footer class="panel-footer">
        <div class="row">
          <div class="col-md-12 text-right">
            <%= f.submit 'Add', class: 'btn btn-primary' %>
            <button class="btn btn-default modal-dismiss">Cancel</button>
          </div>
        </div>
      </footer>
    <% end %>
  </section>
</div>

<section class="panel">
  <header class="panel-heading">
    <div class="pull-right">
      <a class="modal-with-form btn" href="#modalForm">Import Number</a>
      <%= link_to 'Back', distributions_path, 'class': 'btn' %>
    </div>
    <h2 class="panel-title"><%= @distribution.name %></h2>
  </header>
  <div class="panel-body">
    <table class="table table-bordered table-striped mb-none" id="datatable-editable1">
      <thead>
      <tr>
        <th>Number</th>
        <th>Mobile Number</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @dcontacts.each_with_index do |dcontact,index| %>
        <tr class="gradeX">
          <td><%= index +1 %></td>
          <td><%= dcontact.number %></td>
          <td class="actions">
            <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, dcontact_path(dcontact), method: :delete,
                        data: {confirm: "Are you sure you want to delete the contact?"},
                        class: "on-default" %>
            <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
            <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
<!-- end: page -->